.App {
  text-align: center;
  height: 100vh;
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  background-color:rgb(201, 127, 127);
  width: 100%;
  /* overflow: hidden; */
}

main {
  background-color: aquamarine;
  min-height: 100%;
  padding-top: 80px;
  padding-bottom: 60px;
}

h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
  color: darkblue;
}

h3 {
  margin-top: 20px;
}

.content {
  padding: 50px 10px 0 10px;
  font-size: large;
  
}

.Evaluation-content {
  width: 50%;
  /* float: none; */
  margin: 0 auto;
}

.Evaluation-content p {
  text-align: left;
  margin-left: 10px;
}

.imgWrapper {
  margin-top: 30px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}


ul {
  list-style-type: none;
}

ul li {
  text-align: left;
}

ol li {
  text-align: left;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightpink;
  overflow: hidden;
  min-height: 50px;
  border:#282c34 solid;
}

.source-links * {
  margin: 5px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
